<div ng-controller="GivePointsGuestCtrl">
    <div>
        <div>
            <div class="col-sm-12">
                <h4 class="content-title">GIVE POINTS TO GUEST</h4>
                <!--  <h4 class="content-title">PAY WITH POINTS <img src="images/sample_user.png" class="profile-picture-thumb pull-right" alt=""></h4>-->
                <hr>
            </div>
        </div>
        <form class="form">
            <div class="row">
                <div class="col-sm-3" style="text-align: center">

                </div>
                <div class="col-sm-6">
                    <label>Mobile No.</label>
                    <input maxlength="11" onfocus="homeService.showVirtualKeyboard()" onfocusout="homeService.hideVirtualKeyboard()" numeric-only  ng-model="mobile_no" id="mobile_no" type="text" class="w100" value="">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">

                </div>
                <div class="col-sm-6">
                    <label>Receipt No.</label>
                    <input onfocus="homeService.showVirtualKeyboard()" onfocusout="homeService.hideVirtualKeyboard()"   id="or_no" type="text" class="w100" value="">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">

                </div>
                <div class="col-sm-6">
                    <label>Purchase Amount</label>
                    <input onfocus="homeService.showVirtualKeyboard()" onfocusout="homeService.hideVirtualKeyboard()"amount-only  ng-model="amount" id="amount" type="text" class="w100" >
                </div>
            </div>
        </form>

        <br><br>

        <div class="row">
            <div class="col-md-12 center">
                <button class="btn-clear" type="button" ng-click="resetFields()">Reset</button>
                <button class="btn-send" type="button" ng-click="givePointsGuest()">Submit</button>
            </div>
        </div>


        <div hidden class="offline-mode" style="text-align: center; margin-top: 200px;">
            <h1>You are currently offline.</h1>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("input").focus(function(){
            homeService.showVirtualKeyboard();
        });
        $("input").focusout(function(){
            homeService.hideVirtualKeyboard();
        });
    });
</script>