<!DOCTYPE html>
<html lang="en" ng-app="HomeModule"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>Rush - Register User</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="css/angular-datatables.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/jquery.dataTables.min.js"></script>
    <script src="js/lib/bootstrap.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-datatables.min.js"></script>
    <script src="js/lib/angular-datatables.columnfilter.min.js"></script>
    <script src="js/lib/angular-ui-router.min.js"></script>
    <script src="js/lib/ui-bootstrap.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls.min.js"></script>
    <script src="js/lib/angular-ui.min.js"></script>
    <script src="home.js"></script>
    <script src="js/members.js"></script>
    <script src="js/pay-with-points.js"></script>
    <script src="js/redeem-rewards.js"></script>
    <script src="js/issue-rewards.js"></script>
    <script src="js/register.js"></script>
    <script src="js/transactions.js"></script>
    <script src="js/offline-transactions.js"></script>

    <style>
       /*Hack to avoid width expansion caused by modals*/
        body {
            padding-right: 0px !important
        }

        .modal-open {
            overflow-y: auto;
        }
    </style>
</head>
<body ng-controller="HomeController"  ng-cloak>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="images/r_logo.png" class="rush_logo" alt=""></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--<ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Member <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="goToRegisterView()">Member's Registration</a></li>
                        <li><a href="#">Member's Inquiry</a></li>
                        <li><a href="#">Exit Member Details</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Points <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="loadGivePointsView()">Give Points</a></li>
                        <li><a href="#">Give Points (OCR)</a></li>
                        <li><a href="http://54.169.103.206/design/rush-pos/pay-with-points.html">Pay with Points</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rewards <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://54.169.103.206/design/rush-pos/voucher-redemption.html">Redeem Rewards</a></li>
                        <li><a href="http://54.169.103.206/design/rush-pos/voucher-issuance.html">Issue Rewards</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Transaction <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://54.169.103.206/design/rush-pos/voucher-issuance.html">View Transaction Logs&gt;</a></li><a href="http://54.169.103.206/design/rush-pos/voucher-issuance.html">
                    </a><li><a href="http://54.169.103.206/design/rush-pos/voucher-issuance.html"></a><a href="http://54.169.103.206/design/rush-pos/voucher-redemption.html">View Offline Transactions</a></li>
                    </ul>
                </li>
            </ul>-->
            <ul class="nav navbar-nav navbar-right">
                <li> <div class="p-info">
                    <h3 class="employee-login-label"><span id="mode" style="color: red"></span></h3>
                </div></li>
               <!-- <li class="notif-wrapper"><a href="#"><img src="images/bell.png" class="notif-icon" alt=""></a> <span class="notif-counter">1</span></li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="p-info"><h3>Hi,<b>{{account.name}}</b><span class="caret"></span></h3>{{account.currentDate}}</div>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" onclick="homeService.logoutEmployee()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<main>
    <div id="sidebar">
        <ul id="sidebar-links">
            <a href="" ng-click="goToRegisterView()">
                <li>REGISTRATION</li>
            </a>
            <a href="" ng-click="goToMemberLoginView()">
                <li>MEMBER INQUIRY</li>
            </a>
            <a href="" ng-click="loadGivePointsView()" >
                <li>GIVE POINTS</li>
            </a><!--
            <a href="" ng-disabled="!memberProfile.id" >
                <li>GIVE POINTS (OCR)</li>
            </a>-->
            <a href="" ng-click="goToPayWithPointsView()">
                <li>PAY WITH POINTS</li>
            </a>
            <a href="" ng-click="goToVoucherRedemptionView()">
                <li>REDEEM REWARDS</li>
            </a>
            <a href="" ng-click="goToIssueRewardsView()">
                <li>ISSUE REWARDS</li>
            </a>
            <a href="" ng-click="goToTransactionsView()">
                <li>TRANSACTION VIEW</li>
            </a>
            <a href="" ng-click="goToOfflineTransactionsView()">
                <li>OFFLINE TRANSACTIONS</li>
            </a>
            <a href="" ng-click="loadSettingsView()">
                <li class="yellow-bg">SETUP (OCR)</li>
            </a>
            <a href="" ng-click="logoutMember()">
                <li class="red-bg">EXIT MEMBER DETAILS</li>
            </a>
        </ul>
    </div>
    <div id="content-wrapper" ui-view>

    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog"  tabindex="-1">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="background: white !important;height: 200px;">
                <div class="modal-body home-modal-body">
                </div>
            </div>

        </div>
    </div>
    <!-- End -->
    <!-- Loading Modal -->
    <div  id="home-loading-modal" class="modal fade" role="dialog"  tabindex="-1"  data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="background: white !important;height: 200px;border-radius: 0 !important;width: 500px !important;">
                <div class="modal-body home-loading-body" style="text-align: center"><br/>
                    <img src="images/rush_logo.png" class="rush_logo" alt=""><br/><br/>
                    <h4>Connecting to Rush Server...</h4>
                </div>
            </div>

        </div>
    </div>
    <!-- End -->

    <!-- Result Modal -->
    <div  id="home-result-modal" class="modal fade" role="dialog"  tabindex="-1"  >
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="background: white !important;height: 200px;">
                <div class="modal-body home-result-body">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="goToMemberLoginView()">Close</button>
            </div>
        </div>
    </div>
    <!-- End -->
</main>


<script>
    $("#number-pad-wrapper button").mouseup(function(){
        $(this).blur();
    });

    document.oncontextmenu = document.body.oncontextmenu = function() {return false;}
</script><!-- <script type='text/javascript' src='http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'></script>-->

</body></html>