<div ng-controller="IssueRewardsCtrl">
    <div ng-if="member.id">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="content-title">
                    ISSUE REWARDS
                </h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h5 class="sub-title">BASIC INFORMATION</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="d-label">Member ID</label>
                <span class="d-value">{{member.id}}</span>
            </div>
            <div class="col-sm-3">
                <label class="d-label">Name</label>
                <span class="d-value">{{member.name}}</span>
            </div>
            <div class="col-sm-3">
                <label class="d-label">Mobile Number</label>
                <span class="d-value">{{member.mobile_no}}</span>
            </div>
            <div class="col-sm-3">
                <label class="d-label">Email</label>
                <span class="d-value">{{member.email}}</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3">
                <label class="d-label">Date of Birth</label>
                <span class="d-value">{{member.birthdate}}</span>
            </div>
            <div class="col-sm-3">
                <label class="d-label">Gender</label>
                <span class="d-value">{{member.gender}}</span>
            </div>
            <div class="col-sm-3">
                <label class="d-label">Member Since</label>
                <span class="d-value">{{member.registration_date}}</span>
            </div>
            <div class="col-sm-3">
                <label class="d-label">Available Points</label>
                <span class="d-value">{{member.points}}</span>
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col-sm-4" ng-repeat="item in activeVouchers" id="{{item.id}}_div">
                <div class="item"  data-toggle="modal" data-target="#{{item.id}}">
                    <figure>
                        <img style="width: 300px;height: 171px;" ng-src="{{item.reward.image_url}}"/>
                    </figure>
                    <figcaption>
                        {{item.reward.name}}
                    </figcaption>
                </div>
                <!-- MODAL -->

                <div class="modal fade" id="{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModal2">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content row">
                            <div class="col-md-5 col-sm-5 modal-image" back-img="{{item.reward.image_url}}">

                            </div>
                            <div class="col-md-7  col-sm-7 details">
                                <h3 class="modal-header-h3">{{item.reward.name}}</h3>
                                <p>{{item.reward.details}}</p>
                                <div class="modal-buttons">
                                    <button ng-click="issueReward(item.id)" data-toggle="modal" type="button" class="btn btn-default orange-btn btn-lg">Issue Reward</button>
                                </div>
                            </div>
                            <a href="#" class="close" data-dismiss="modal" aria-label="Close"><img src="images/close.png" alt=""></a>
                        </div>
                    </div>
                </div>



                <!-- END MODAL -->
            </div>
        </div>
        <div hidden class="offline-mode" style="text-align: center; margin-top: 200px;">
            <h1>You are currently offline.</h1>
        </div>
    </div>

</div>

<script>
    $(document).ready(function(){

        $("input").focus(function(){
            homeService.showVirtualKeyboard();
        });
        $("input").focusout(function(){
            homeService.hideVirtualKeyboard();
        });
    });
</script>