<!DOCTYPE html>
<html lang="en" ng-app="LoginModule"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>Rush POS</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/custom2.css">

    <script src="js/login-service.js" type="text/javascript"></script>
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/login.js"></script>
</head>
<body ng-controller="LoginController" ng-cloak>
<main class="">
    <div class="left-block center">
        <div class="paddingTop150"></div>
        <img src="images/rush_logo.png" class="rush_logo" alt="">
        <h4 class="employee-login-label online-element">EMPLOYEE LOGIN </h4>
        <h4 hidden class="employee-login-label offline-element"><span id="mode" style="color: red">(OFFLINE MODE)</span></h4>
        <div hidden class="offline-element">
            <a onClick="homeService.loadGivePointsView()" href=""  style="margin-left:150px;display:block;padding: 15px;background-color:#ffb600;border-radius: 30px;color: white;width: 400px;">GIVE POINTS</a>
        </div>
        <form action="" id="login-form" class="online-element">
            <input placeholder="INPUT EMPLOYEE ID" type="text" id="employee_id" ng-model="employeeId">
            <select name="" id="branch_id" ng-model="account.branchId">
                <option ng-selected="{{defaultBranch == branch.id}}"
                        ng-repeat="branch in branches"
                        value="{{branch.id}}">
                    {{branch.name}}
                </option>
            </select>
            <input value="LOGIN" type="button" onclick="loginService.login();">
        </form>
    </div>
    <div class="right-block">
        <br>
        <section id="number-pad-wrapper">
            <ul>
                <li>
                    <button ng-click="addNumber(1)">1</button>
                </li>
                <li>
                    <button ng-click="addNumber(2)">2</button>
                </li>
                <li>
                    <button ng-click="addNumber(3)">3</button>
                </li>
                <li>
                    <button ng-click="addNumber(4)">4</button>
                </li>
                <li>
                    <button ng-click="addNumber(5)">5</button>
                </li>
                <li>
                    <button ng-click="addNumber(6)">6</button>
                </li>
                <li>
                    <button ng-click="addNumber(7)">7</button>
                </li>
                <li>
                    <button ng-click="addNumber(8)">8</button>
                </li>
                <li>
                    <button ng-click="addNumber(9)">9</button>
                </li>
                <li>
                    <button ng-click="clearLoginField()"><img src="images/remove.png" alt="remove"></button>
                </li>
                <li>
                    <button ng-click="addNumber(0)">0</button>
                </li>
                <li>
                    <button ng-click="addNumber('.')"><img src="images/dot.png" alt="dot"></button>
                </li>
            </ul>
        </section>
    </div>
    <!-- Modal -->
    <div id="loginModal" class="modal fade" role="dialog"  tabindex="-1">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="background: white !important;height: 200px;">
                <div class="modal-body login-modal-body">
                </div>
            </div>

        </div>
    </div>
    <!-- End of modal -->
    <!-- Loading Modal -->
    <div  id="login-loading-modal" class="modal fade" role="dialog"  tabindex="-1"  data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="background: white !important;height: 200px;border-radius: 0 !important;width: 500px !important;">
                <div class="modal-body login-loading-body" style="text-align: center"><br/>
                    <img src="images/rush_logo.png" class="rush_logo" alt=""><br/><br/>
                    <h4>Connecting to Rush Server...</h4>
                </div>
            </div>

        </div>
    </div>
    <!-- End -->
</main>


<script>
    $("#number-pad-wrapper button").mouseup(function(){
        $(this).blur();
    });
    document.oncontextmenu = document.body.oncontextmenu = function() {return false;}
</script>
</body></html>