
<div class="row" ng-controller="MemberLoginCtrl">
    <div class="col-sm-5">
        <div class="paddingTop150"></div>
        <form action="" class="form center">
            <label class="d-label">Scan QR Code</label>
            <label class="d-label">or</label>
            <label class="d-label">Input Mobile Number</label>
            <input autofocus numeric-only maxlength="11" type="text" class="w80" id="mobile_no"  my-enter="loginMember()" ng-model="mobile" >
            <input type="button" value="VIEW DETAILS" ng-click="loginMember()" />
        </form>
    </div>
    <div class="col-sm-7">
        <section id="number-pad-wrapper" class="sm">
            <ul>
                <li>
                    <button ng-click="addNumber(1)">1</button>
                </li>
                <li>
                    <button ng-click="addNumber(2)">2</button>
                </li>
                <li>
                    <button ng-click="addNumber(3)">3</button>
                </li>
                <li>
                    <button ng-click="addNumber(4)">4</button>
                </li>
                <li>
                    <button ng-click="addNumber(5)">5</button>
                </li>
                <li>
                    <button ng-click="addNumber(6)">6</button>
                </li>
                <li>
                    <button ng-click="addNumber(7)">7</button>
                </li>
                <li>
                    <button ng-click="addNumber(8)">8</button>
                </li>
                <li>
                    <button ng-click="addNumber(9)">9</button>
                </li>
                <li>
                    <button ng-click="clearLoginField()"><img src="images/remove.png" alt="remove"></button>
                </li>
                <li>
                    <button ng-click="addNumber(0)">0</button>
                </li>
                <li>
                    <button ng-click="addNumber('.')"><img src="images/dot.png" alt="dot"></button>
                </li>
            </ul>
        </section>
    </div>
</div>



