<div ng-controller="PayWithPointsCtrl">
    <div ng-if="member.id">
        <div>
            <div class="col-sm-12">
                <h4 class="content-title">PAY WITH POINTS</h4>
                <!--  <h4 class="content-title">PAY WITH POINTS <img src="images/sample_user.png" class="profile-picture-thumb pull-right" alt=""></h4>-->
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h5 class="sub-title">BASIC INFORMATION </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="d-label">Member ID</label>
                <span class="d-value">{{member.id}}</span>
            </div>
            <div class="col-sm-3">
                <label class="d-label">Name</label>
                <span class="d-value">{{member.name}}</span>
            </div>
            <div class="col-sm-3">
                <label class="d-label">Mobile Number</label>
                <span class="d-value">{{member.mobile_no}}</span>
            </div>
            <div class="col-sm-3">
                <label class="d-label">Email</label>
                <span class="d-value">{{member.email}}</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3">
                <label class="d-label">Date of Birth</label>
                <span class="d-value">{{member.birthdate}}</span>
            </div>
            <div class="col-sm-3">
                <label class="d-label">Gender</label>
                <span class="d-value">{{member.gender}}</span>
            </div>
            <div class="col-sm-3">
                <label class="d-label">Member Since</label>
                <span class="d-value">{{member.registration_date}}</span>
            </div>
            <div class="col-sm-3">
                <label class="d-label">Available Points</label>
                <span class="d-value" id="points-span">{{member.points}}</span>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">
                <label class="d-label">Points in Peso value</label>
                <span id="points-peso-span" class="d-value" style="background-color: yellow">{{member.pointsPesoValue}}</span>
            </div>
        </div>
        <br><br><br>
        <form action="http://54.169.103.206/design/rush-pos/pay-with-points.html" class="form">
            <div class="row">
                <div class="col-sm-4">
                    <label>Receipt No.</label>
                    <input onfocus="homeService.showVirtualKeyboard()" onfocusout="homeService.hideVirtualKeyboard()" id="or_no" type="text" class="w100" value="">
                </div>
                <div class="col-sm-4">
                    <label>Purchase Amount</label>
                    <input onfocus="homeService.showVirtualKeyboard()" onfocusout="homeService.hideVirtualKeyboard()" amount-only  ng-model="amount" id="amount" type="text" class="w100" value="">
                </div>
                <div class="col-sm-4">
                    <label>Total Points to Pay</label>
                    <input onfocus="homeService.showVirtualKeyboard()" onfocusout="homeService.hideVirtualKeyboard()" amount-only ng-model="points" id="points" type="text" class="w100" value="">
                </div>
            </div>
            <br>
        </form>
        <div class="row">
            <div class="col-md-12 center">
                <button class="btn-clear" type="button" ng-click="payWithPointsReset()">Reset</button>
                <button class="btn-send" type="button" ng-click="payWithPoints()">Submit</button>
            </div>
        </div>
        <!-- Result Modal -->
        <div id="paypoints-result-modal" class="modal fade" role="dialog"  tabindex="-1"  >
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content" style="background: white !important;height: 200px;">
                    <div class="modal-body paypoints-result-body" >
                    </div>
                </div>

            </div>
        </div>
        <!-- End -->
        <!-- Loading Modal -->
        <div id="paypoints-loading-modal" class="modal fade" role="dialog"  tabindex="-1"  data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content" style="background: white !important;height: 200px;">
                    <div class="modal-body paypoints-modal" >
                        Loading...
                    </div>
                </div>

            </div>
        </div>
        <!-- End -->
    </div>

    <div hidden class="offline-mode" style="text-align: center; margin-top: 200px;">
        <h1>You are currently offline.</h1>
    </div>
</div>

