<div ng-controller="RegisterCtrl" id="parent">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="content-title">REGISTER NEW MEMBER</h4>
            <h5 class="sub-content-title">General Information</h5>
            <hr>
        </div>
    </div>
    <div class="row">
        <form action="http://54.169.103.206/design/rush-pos/register.html" class="form">
            <div class="col-sm-6">
                <label>Member Name</label>
                <input letters-only ng-model="memberName" type="text" class="w100" id="name">
                <label>EMAIL</label>
                <input type="text" class="w100" id="email">
                <label>GENDER</label>
               <!-- <select name="" id="gender" class="w100">
                    <option value="-1">Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>-->
               <div class="row">
                   <div class="col-sm-2" data-ng-repeat="gender in genders">
                       <input  class="gender" type="radio" name="response" ng-model="$parent.gender"  data-ng-value="gender" />
                       {{gender}}
                   </div>
               </div>
            </div>
            <div class="col-sm-6">
                <label>Mobile Number</label>
                <input type="text" class="w100" id="mobile_no" numeric-only maxlength="11" ng-model="mobilenumber">
                <label>Birthdate</label>
                <input id="birthdate" type="text" placeholder="MM/DD/YY" class="w100 date-field">
                <label>4-Digit M-Pin (App Password)</label>
                <input maxlength="4" numeric-only ng-model="mpin" type="text" class="w100" id="mpin">
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12 center">
            <button class="btn-clear" type="button" ng-click="clearAll()">Clear All</button>
            <button class="btn-send" type="button" ng-click="register();">Send</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

        $("input").focus(function(){
            homeService.showVirtualKeyboard();
        });
        $("input").focusout(function(){
            homeService.hideVirtualKeyboard();
        });
    });
</script>