<div id="voucherRedemptionCtrl" ng-controller="RedeemRewardsCtrl">
    <div ng-if="member.id">
       <div class="row">
           <div class="col-sm-12">
               <div class="row">
                   <div class="col-sm-4">
                       <h4 class="content-title">REDEEM REWARDS<!-- <img src="images/sample_user.png" class="profile-picture-thumb pull-right" alt="">--></h4>
                   </div>
                   <div class="col-sm-4">

                   </div>
                   <div class="col-sm-2">
                       <a ng-click="logoutMember()" href="" style="text-align:center;border-radius:30px;padding-left: 10px;padding-top: 10px;display: inline-block;height: 40px;width: 200px;background-color:#ed2828; color: white;"><b>EXIT MEMBER</b></a>
                   </div>
                   <div class="col-sm-2">

                   </div>
               </div>
               <hr>
           </div>
       </div>
       <div class="row">
           <div class="col-sm-12">
               <h5 class="sub-title">BASIC INFORMATION</h5>
           </div>
       </div>
       <div class="row">
           <div class="col-sm-3">
               <label class="d-label">Member ID</label>
               <span class="d-value">{{member.id}}</span>
           </div>
           <div class="col-sm-3">
               <label class="d-label">Name</label>
               <span class="d-value">{{member.name}}</span>
           </div>
           <div class="col-sm-3">
               <label class="d-label">Mobile Number</label>
               <span class="d-value">{{member.mobile_no}}</span>
           </div>
           <div class="col-sm-3" style="word-wrap: break-word;">
               <label class="d-label">Email</label>
               <span class="d-value">{{member.email}}</span>
           </div>
       </div>
       <br>
       <div class="row">
           <div class="col-sm-3">
               <label class="d-label">Date of Birth</label>
               <span class="d-value">{{member.birthdate}}</span>
           </div>
           <div class="col-sm-3">
               <label class="d-label">Gender</label>
               <span class="d-value">{{member.gender}}</span>
           </div>
           <div class="col-sm-3">
               <label class="d-label">Member Since</label>
               <span class="d-value">{{member.registration_date}}</span>
           </div>
           <div class="col-sm-3">
               <label class="d-label">Available Points</label>
               <span class="d-value" id="points-span">{{member.points}}</span>
           </div>
       </div>
       <br><br><br>
       <div class="row">
           <div class="col-sm-4" ng-repeat="item in merchantRewards" >
               <div class="item"  data-toggle="modal" data-target="#{{item.id}}">
                   <figure>
                       <img style="width: 300px;height: 171px;" ng-src="{{item.image_url}}"/>
                   </figure>
                   <figcaption>
                       {{item.details}}
                       <span class="red-text clearfix">{{item.points_required}} Points</span>
                   </figcaption>
               </div>
               <!-- MODAL -->

               <div class="modal fade" id="{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModal2">
                   <div class="modal-dialog" role="document">
                       <div class="modal-content row">
                           <div  class="col-md-5 col-sm-5 modal-image" back-img="{{item.image_url}}">

                           </div>
                           <div class="col-md-7  col-sm-7 details">
                               <h3 class="modal-header-h3">{{item.name}}</h3>
                               <h4 class="modal-header-h4 red-text">{{item.points_required}} Points</h4>
                               <p>{{item.details}}</p>
                               <div class="modal-buttons">
                                   <h4 ng-hide="{{item.points_required <= member.points}}">You have insufficient points for this reward.</h4>
                                   <button ng-hide="{{item.points_required > member.points}}" ng-click="showPinModal(item.id)" type="button" class="btn btn-default orange-btn btn-lg">Redeem Voucher</button>
                               </div>
                           </div>
                           <a href="#" class="close" data-dismiss="modal" aria-label="Close"><img src="images/close.png" alt=""></a>
                       </div>
                   </div>
               </div>
               <div  class="modal fade" id="{{item.id}}_pin_modal" tabindex="-1" role="dialog" aria-labelledby="myModal2">
                   <div class="modal-dialog" role="document">
                       <div class="modal-content row">
                           <div class="col-md-12  col-sm-12 details" style="text-align: center;">
                               <br><br>
                               <h3 class="modal-header-h3">Enter 4-digit M-PIN</h3>
                               <br>
                               <form  class="form">

                                   <div class="row">
                                       <div class="col-sm-2"></div>
                                       <div class="col-sm-8">
                                           <input ng-model="test" numeric-only type="password" class="w100 pin-field" value="" id="{{item.id}}_pin" maxlength="4">
                                       </div>
                                   </div>

                                   <div class="row">
                                       <div class="col-sm-2"></div>
                                       <div class="col-sm-4">
                                           <label></label>
                                           <button class="btn-send" type="button"  ng-click="redeemRewards(item.id)">Submit</button>
                                       </div>
                                       <div class="col-sm-4" style="margin-left: -20px !important;">
                                           <label></label>
                                           <button class="btn-clear" type="button" ng-click="closeModal(item.id)">Cancel</button>
                                       </div>
                                   </div>
                                   <br>
                               </form>
                           </div>
                           <a href="#" class="close" data-dismiss="modal" aria-label="Close"><img src="images/close.png" alt=""></a>
                       </div>
                   </div>
                   <script>
                       $("input").focus(function(){
                           homeService.showVirtualKeyboard();
                       });
                       $("input").focusout(function(){
                           homeService.hideVirtualKeyboard();
                       });
                   </script>
               </div>
               <!--<div class="modal fade" id="{{item.id}}_pin_modal" tabindex="-2" role="dialog" aria-labelledby="myModal2">
                   <div class="modal-dialog" role="document">
                       <div class="modal-content row" style="background: white;text-align: center;padding: 20px; width: 900px !important;">
                           <div class="col-sm-6" style="margin-top: 100px;">
                               <h1>Enter 4-Digit M-PIN</h1>
                               <input ng-model="test" numeric-only maxlength="4" autofocus type="password" class="w80" id="{{item.id}}_pin"  my-enter="redeemRewards(item.id)">
                               <div class="modal-buttons">
                                   <button ng-click="redeemRewards(item.id)" type="button" class="btn btn-default orange-btn btn-lg">Proceed</button>
                               </div>
                           </div>
                           <div class="col-sm-6">
                               <section id="number-pad-wrapper" class="sm">
                                   <ul>
                                       <li>
                                           <button ng-click="addNumber(1, item.id)">1</button>
                                       </li>
                                       <li>
                                           <button ng-click="addNumber(2, item.id)">2</button>
                                       </li>
                                       <li>
                                           <button ng-click="addNumber(3, item.id)">3</button>
                                       </li>
                                       <li>
                                           <button ng-click="addNumber(4, item.id)">4</button>
                                       </li>
                                       <li>
                                           <button ng-click="addNumber(5, item.id)">5</button>
                                       </li>
                                       <li>
                                           <button ng-click="addNumber(6, item.id)">6</button>
                                       </li>
                                       <li>
                                           <button ng-click="addNumber(7, item.id)">7</button>
                                       </li>
                                       <li>
                                           <button ng-click="addNumber(8, item.id)">8</button>
                                       </li>
                                       <li>
                                           <button ng-click="addNumber(9, item.id)">9</button>
                                       </li>
                                       <li>
                                           <button ng-click="clearLoginField(item.id)"><img src="images/remove.png" alt="remove"></button>
                                       </li>
                                       <li>
                                           <button ng-click="addNumber(0, item.id)">0</button>
                                       </li>
                                       <li>
                                           <button ng-click="addNumber('.',item.id)"><img src="images/dot.png" alt="dot"></button>
                                       </li>
                                   </ul>
                               </section>
                           </div>


                           <a href="#" class="close" data-dismiss="modal" aria-label="Close"><img src="images/close.png" alt=""></a>
                       </div>
                   </div>
               </div>-->

               <!-- END MODAL -->
           </div>
       </div>
   </div>
    <div hidden class="offline-mode" style="text-align: center; margin-top: 200px;">
        <h1>You are currently offline.</h1>
    </div>
</div>

<script>
    $(document).ready(function(){

        $("input").focus(function(){
            homeService.showVirtualKeyboard();
        });
        $("input").focusout(function(){
            homeService.hideVirtualKeyboard();
        });
    });
</script>