/*

.sidebar-selected {
    -fx-background-color:  #e7e7e7 !important;
    -fx-text-fill: black !important;
}

.sidebar-default {
    -fx-background-color:#333;
    -fx-text-fill: white;
    -fx-font-family: 'System';
    -fx-font-size: 15px;
}
*/

.table-row-cell {
    -fx-cell-size: 50px;
}

.date-picker > .arrow-button {
    -fx-padding: 0px;
}

.date-picker > .arrow-button > .arrow {
    -fx-padding: 0px;
}

.date-picker > .date-picker-display-node {
    /*    -fx-background-insets: 1 1 1 1;*/
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}

.menuitem {
    -fx-background-color: #e7e7e7;
    -fx-border-color: #ffb600;
}

.menuitem-label {
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 24px;
    -fx-fill-height: true;
    -fx-fill-width: true;
}



.combo-box {
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-cursor: hand;
}

.employee-combo-box {
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 22px;
    -fx-font-weight: normal;
    -fx-text-fill: black;
    -fx-background-color: #e7e7e7 !important;
    -fx-border-color:  #e7e7e7 !important;
    -fx-cursor: hand;
}

.employee-combo-box .menu-item {
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 22px;
    -fx-cursor: hand;
}
.menu-hover {
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 22px;
    -fx-background-color: white !important;
    -fx-border-color: #ffb600 !important;
    -fx-border-width: 3;
    -fx-text-fill: #ffb600;
    -fx-cursor: hand;
}

.menu-item-hover {
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 22px;
    -fx-cursor: hand;
}

.text-field {
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 18px;
    -fx-font-weight: normal;
}

.scroll-bar {
    -fx-background-color: derive(#434343,20%);
    -fx-pref-width: 25px;
}

.table-view .table-cell{
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 18px;

}.table-view .column-header {
     -fx-font-family: "Lucida Sans";
     -fx-font-size: 18px;
    -fx-font-style: normal;
 }

 .lbl-med {
     -fx-font-size: 17px;
   /*  -fx-font-weight: bold;*/
 }
.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: #333;
}

.tab-pane {
    -fx-tab-min-width:200px;
    -fx-tab-max-width:200px;
    -fx-tab-min-height:30px;
    -fx-tab-max-height:30px;
    -fx-text-fill: white;
    -fx-font-size: 17px;
}

.tab {
    -fx-background-radius: 0;
    -fx-border-color: #B1ADA9;
    -fx-background-color:  #53585b;
    -fx-text-fill: white;
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 18px;
}

.tab:selected {
    -fx-background-color: white ;
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 18px;
    -fx-text-fill: black;
}

.table-view .column-header-background .label{
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 18px;
    -fx-font-weight: normal;
}

.table-view .table-cell{
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 18px;
    -fx-font-weight: normal;
}

.primary-button {
    -fx-background-color: #ffb600 !important;
    -fx-text-fill:  white;
    -fx-border-radius: 30;
    -fx-border-width: 5;
    -fx-background-radius: 30;
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 18px;
    -fx-cursor: hand;
}


.primary-button:hover {
    -fx-background-color: white !important;
    -fx-text-fill:  #ffb600;
    -fx-border-color:  #ffb600;
    -fx-border-radius: 30;
    -fx-border-width: 2;
    -fx-background-radius: 30;
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 18px;
    -fx-cursor: hand;
}

.login-button {
    -fx-background-color: #ffb600 !important;
    -fx-text-fill:  white;
    -fx-border-radius: 30;
    -fx-border-width: 5;
    -fx-background-radius: 30;
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 24px;
    -fx-cursor: hand;
}


.login-button:hover {
    -fx-background-color: white !important;
    -fx-text-fill:  #ffb600;
    -fx-border-color:  #ffb600;
    -fx-border-radius: 30;
    -fx-border-width: 2;
    -fx-background-radius: 30;
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 24px;
    -fx-cursor: hand;
}


.cancel-button {
    -fx-background-color:  #CDD2D6 !important;
    -fx-text-fill:  white;
    -fx-border-radius: 30;
    -fx-border-width: 5;
    -fx-background-radius: 30;
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 18px;
    -fx-cursor: hand;
}


.cancel-button:hover {
    -fx-background-color: white !important;
    -fx-text-fill:   #CDD2D6;
    -fx-border-color:   #CDD2D6;
    -fx-border-radius: 30;
    -fx-border-width: 2;
    -fx-background-radius: 30;
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 18px;
    -fx-cursor: hand;
}


.sidebar-button {
    -fx-background-color:  #333;
    -fx-text-fill: white;
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 18px;
    -fx-cursor: hand;
}

.sidebar-button:hover {
    -fx-background-color:  white !important;
    -fx-text-fill: #333;
    -fx-font-family: "Lucida Sans";
    -fx-cursor: hand;
}


.sidebar-button-selected{
    -fx-background-color:  #e7e7e7 !important;
    -fx-text-fill: black !important;
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 18px;
    -fx-cursor: hand;
}

.sidebar-button-selected:hover{
    -fx-background-color:  white !important;
    -fx-text-fill: #333;
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 18px;
    -fx-cursor: hand;
}

.label-1 {
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 20px;
}

.label-2 {
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 18px;
}

.label-3 {
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 16px;
}

.radio-button {
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 16px;
}


.ocr-button {
    -fx-background-color: white;
    -fx-border-color:  #ffb600;
    -fx-border-radius: 5;
    -fx-border-width: 3;
    -fx-text-fill: #ffb600;
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 18px;
    -fx-cursor: hand;
}

.exit-button {
    -fx-background-color: white;
    -fx-border-color:  #ffb600;
    -fx-border-radius: 5;
    -fx-border-width: 3;
    -fx-text-fill: #ffb600;
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 18px;
    -fx-cursor: hand;
}

.ocr-button:hover {
    -fx-background-color: #ffb600 !important;
    -fx-border-color:  #ffb600;
    -fx-border-radius: 10;
    -fx-border-width: 3;
    -fx-text-fill: white;
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 18px;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.exit-button:hover {
    -fx-background-color: #ffb600 !important;
    -fx-border-color:  #ffb600;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 3;
    -fx-text-fill: white;
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 18px;
    -fx-cursor: hand;
}