
.sidebar-selected {
    -fx-background-color:  #e7e7e7 !important;
    -fx-text-fill: black !important;
}

.sidebar-default {
    -fx-background-color:#333;
    -fx-text-fill: white;
    -fx-font-family: 'System';
    -fx-font-size: 15px;
}

.table-row-cell {
    -fx-cell-size: 50px;
}

.date-picker > .arrow-button {
    -fx-padding: 0px;
}

.date-picker > .arrow-button > .arrow {
    -fx-padding: 0px;
}

.date-picker > .date-picker-display-node {
    /*    -fx-background-insets: 1 1 1 1;*/
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}

.menuitem {
    -fx-background-color: #e7e7e7;
    -fx-border-color: transparent;
    -fx-font-size: 17px;
}