.date-picker > .arrow-button {
    -fx-padding: 0px;
}

.date-picker > .arrow-button > .arrow {
    -fx-padding: 0px;
}

.date-picker > .date-picker-display-node {
/*    -fx-background-insets: 1 1 1 1;*/
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}

